@model IEnumerable<FeatureToggle.Definitions.FeatureConfiguration>

@{
    ViewData["Title"] = "Features List";
}

<div class="row">
    <div class="col-md-12">
        <h2>Features configured</h2>
        <table id="featuresList" class="table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Feature Name</th>
                    <th>Configuration Value</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var config in Model)
                {
                    <tr class="@config.Feature.Replace('.', '_')">
                        <td>@config.Feature</td>
                        <td>@config.Value</td>
                        <td>
                            <button class="btn btn-default glyphicon glyphicon-pencil"></button>
                            @Html.ActionLink("", "DeleteFeature", new { featureName = config.Feature },
                                                     new
                                                     {
                                                         @class = "glyphicon glyphicon-remove btn btn-default",
                                                         data_feature = @config.Feature
                                                     })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
    {
    <script language="javascript">
        jQuery("#featuresList tbody").on("click", ".glyphicon-remove.btn", function (event) {
            var origin = jQuery(event.currentTarget);
            var featureName = origin.data('feature');

            return confirm('Do you really want to delete feature <' + featureName + '>?');
        });
    </script>
}